<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-facebook-account-kit" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>FacebookAccountKitLogin</name><APP_ID>123456789</APP_ID><APP_NAME>myApplication</APP_NAME><AK_TOKEN>AccountKitClientToken</AK_TOKEN><js-module name="FacebookAccountKitLogin" src="www/FacebookAccountKitLogin.js"><clobbers target="cordova.plugins.FacebookAccountKitLogin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="FacebookAccountKitLogin"><param name="ios-package" value="FacebookAccountKitLogin" /></feature></config-file><source-file src="src/ios/FacebookAccountKitLogin.m" /></platform></plugin>